[submodule "external/Crow"]
	path = external/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "external/AMQP-CPP"]
	path = external/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP.git
